<div id="page_title">
  <%= link_to('Post An Article Link', "#", :id => "article_form") %>
</div>
<div id="about_me">
  <div class="about_left">
    <%= image_tag("admin.jpg") %>
  </div>

  <div class="about_right">
    <table class="about table table-bordered table-striped">
      <thead>
      <th> Md Nazrul Islam </th>
      <th> </th>
      </thead>
      <tbody>
        <tr>
          <td>
            B.Sc. in Computer Science and Engineering
            Department of Computer Science and Engineering
            Khulna University (KU), Khulna, 9802
          </td>
          <td>
            nazrulku07@gmail.com
            +8801722647240 (Cell)
          </td>
        </tr>
      </tbody>
    </table>

    <table class="about table table-bordered table-striped">
      <thead>
      <th> Career Objective </th>
      </thead>
      <tbody>
        <tr>
          <td>
            I want to be a better software engineer that is why I want to build my career in a reputed software company that contains enough opportunity to develop my personal skill.I will try to show my better performance with heart and soul.
          </td>
        </tr>
      </tbody>
    </table>

    <table class="about table table-bordered table-striped">
      <thead>
      <th> Education </th>
      <th> </th>
      </thead>
      <tbody>
        <tr>
          <td>
            2007-2011
          </td>
          <td>
            Undergraduate Program
            Department of Computer Science and Engineering (CSE)
            Khulna University (KU)
            CGPA: 3.56/4.00
          </td>
        </tr>
        <tr>
          <td>
            2006
          </td>
          <td>
            Higher Secondary Certificate: GPA: 4.20/5.00 (Govt Shah Sultan College, Bogra).
          </td>
        </tr>
        <tr>
          <td>
            2004
          </td>
          <td>
            Secondary School Certificate: GPA: 3.75/5.00 Madrasha Board (Chandair Darul Ulum Dakhil Madrasha).
          </td>
        </tr>
      </tbody>
    </table>
    <table class="about table table-bordered table-striped">
      <thead>
      <th>
        Employment
      </th>
      <tbody>
        <tr>
          <td>
            Junior Software Engineer (July 1, 2011 - Continuing) Nascenia IT Ltd <br/>
            12/4, Iqbal road, Mohammadpur, Dhaka <br/>
            IT division<br/>
            Duties/Responsibilities: M<br/>
            Project Analysis, Design, Development, Testing And Deployment.
          </td>
        </tr>
      </tbody>
      </thead>
    </table>

    <table class="about table table-bordered table-striped">
      <thead>
      <th>
        Specialization
      </th>
      <tbody>
        <tr>
          <td>
            Desktop Programming Java: .Net, C++, C, Visual C, Visual C++
          </td>
        </tr>
        <tr>
          <td>
            Ruby Web Programming: ASP.NET, PHP, Ruby On Rails
          </td>
        </tr>
        <tr>
          <td>
            Framework: Rails, Yii, Java Media Framework, Nope-Commerce(.Net)
          </td>
        </tr>
        <tr>
          <td>
            CMS: Wordpres, Magento, Modx <br/>
            Database: Mysql, SqlServer, Oracle, MongoBD
          </td>
        </tr>
        <tr>
          <td>
            Script Language: Javascript, Jquery, Prototype, Coffescript <br/>
            Web Techonology: Ajax
          </td>
        </tr>
      </tbody>
      </thead>
    </table>

  </div>
</div>